* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    background-color: #252628;
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}
section.tilt-box {
    transform-style: preserve-3d;
    perspective: 2500px;
    border-radius: 50px;
    position: relative;
    cursor: pointer;
}
.card-bg {
    width: 460px;  
    height: 620px; 
    background-image: url('Me.jpeg');
    background-color: grey; 
    background-size: cover;
    background-position: center;
    border-radius: 15px;
}
.player-img {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 65%;     
    border-radius: 10px;
        transform: translate(-50%, -50%) translateZ(60px); 
    filter: drop-shadow(0px 15px 25px rgba(0, 0, 0, 0.6));
    transition: transform 0.3s ease;
}